services:
  - type: web
    name: notification-system-web
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node src/server.js
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 10000
      - key: ENABLE_SCHEDULER
        value: "true"
      - key: DATABASE_URL
        sync: false
